header {
    text-align: center;
    background-color: rgb(20, 127, 141);
    height: auto;
    color: white;
    font-size: 30px;
}

.container2 {
    text-align: center;
    height: auto;
    width: auto;
}

.fiveday {
    display: flex;
    float: left;
}

.card {
    width:33%;
}